@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}

html,
body {
    padding: 0;
    margin: 0;

    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
        'Courier New', monospace;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@import 'global/leaflet';
@import 'global/control-layers-tree';
