@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary--inactive {
        @apply text-gray-600 hover:underline;
    }
    .btn-primary--active {
        @apply text-gray-500 underline;
    }

    .btn-custom-primary {
        @apply mb-8 bg-transparent hover:bg-black hover:text-white py-1 px-2 border-2 border-black hover:border-transparent;
    }
}

html,
body {
    padding: 0;
    margin: 0;

    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
        'Courier New', monospace;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
